@use '../utils/variables' as v;
@use '../utils/mixins';

.profile-container {
    height: 100%;
    background-color: v.$deeppurple;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        color: v.$white;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            line-height: 1.5;
            margin: 0;

            &:first-child {
                margin-top: 1em;
            }

            &:nth-child(2) {
                margin-bottom: 1em;

            }
        }

        .edit-button {
            border-color: v.$green;
            background-color: v.$green;
            color: #fff;
            font-weight: bold;
            padding: 10px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin-top: 1em;

            @include mixins.sm {
                grid-template-columns: 1fr 1fr;
            }

            input {
                padding: 10px;
                font-size: 1.2rem;
            }

            button {
                border-color: v.$green;
                background-color: v.$green;
                color: #fff;
                font-weight: bold;
                padding: 15px;
            }
        }
    }

    .accounts {
        width: 100%;
    }
}