// ---
// COLORS 
// ---

$black: #000;
$white: #fff;
$red: #FF0101;
$blue: #4AB8FF;
$yellow: #FDCC0C;
$pink: #FD5181;
$lightgrey: #FBFBFB;
$grey: #74798C;
$darkgrey: #282D30;

// ---
// BACKGROUNDS 
// ---

$bgred: rgba(255, 0, 0, 0.1);
$bgblue :rgba(51, 153, 255, 0.15);
$bgyellow :rgba(255, 255, 0, 0.15);
$bgpink: rgba(255, 102, 133, 0.15);