@use '../utils/variables' as v;
@use '../utils/mixins';

form {
    .input-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        input {
            padding: 7px;
            font-size: 1.2rem;
        }
    }

    .input-remember {
        display: flex;

        label {
            margin-left: 0.25rem;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        margin-top: 1rem;
        background-color: v.$green;
        color: v.$white;
        border: none;
    }

    .error-message {
        color: v.$red;
        text-align: center;
    }
}









