@use '../utils/variables' as v;
@use '../utils/mixins';

body {
    font-family: 'Avenir', sans-serif;


    #root {
        display: grid;
        grid-template-rows: 65px auto 80px;
        min-height: 100vh;
        color: #2c3e50;
    }
}